@import 'colors.module';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  scrollbar-color: $colorPrimary $colorSurfaceLight1;

  font-family: var(--outfit), sans-serif;

  @media (prefers-color-scheme: dark) {
    scrollbar-color: $colorPrimary $colorSurfaceDark1;
  }
}

body {
  background: $colorSurfaceLight1;
  color: $colorTextLight1;

  scrollbar-color: $colorPrimary $colorSurfaceLight1;

  @media (prefers-color-scheme: dark) {
    background: $colorSurfaceDark1;
    color: $colorTextDark1;

    scrollbar-color: $colorPrimary $colorSurfaceDark1;
  }
}

h1 {
  font-size: 300%;

  font-weight: 700;
}

h2 {
  font-size: 200%;

  font-weight: 700;

  margin-bottom: 1rem;
}

h3 {
  font-size: 110%;

  font-weight: 550;
}

p {
  font-size: 110%;

  font-weight: 400;
}

input, button {
  font-size: 100%;

  font-weight: 400;
}

a {
  color: $colorPrimary;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  padding: .5rem 1rem;

  border: 1px solid $colorBorderLight1;
  border-radius: 0.25rem;

  background: transparent;
  color: $colorTextLight1;

  transition: 150ms;

  &:focus {
    border-color: $colorPrimary;

    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    border-color: $colorBorderDark1;
    color: $colorTextDark1;
  }
}

button {
  padding: .5rem 1rem;

  border: 1px solid $colorPrimary;
  border-radius: 0.25rem;

  background: $colorPrimary;
  color: $colorSurfaceLight1;

  transition: 150ms;

  cursor: pointer;

  &:hover {
    background: transparent;
    color: $colorPrimary;
  }
}